<!-- <app-base>
  <ng-container>
      <div class="container">
          <button type="button" class="btn btn-primary" (click)="navigateBack()">Back</button>
          
          
          <div name="body">   
              <h3>
                  Info about specific task List
              </h3>         
              <table class="table">
                  <tr>
                    <td>Id</td>
                    <td>Name</td>
                  </tr>
                  <tr>  
                    <td>{{taskList.id}}</td>
                    <td>{{taskList.name}}</td>
                  </tr>
              </table>                  
          </div>
      </div>
  </ng-container>
  
</app-base> -->
<table class="table">
  <tr>
    <td>Id</td>
    <td>Name</td>
  </tr>
  <tr>  
    <td>{{taskList.id}}</td>
    <td>{{taskList.name}}</td>
  </tr>
</table>                  