<app-base>
    <ng-container>
        <div class="container">
            <div class="modal-content">
                <div class="modal-header"><h4>Logout <i class="fa fa-lock"></i></h4></div>
                <div class="modal-body"><i class="fa fa-question-circle"></i> Are you sure you want to log-out?</div>
                <div class="modal-footer"><button type="submit" class="btn btn-primary btn-block" (click)="logout()" style="margin-bottom:5px;">Logout</button></div>        
            </div>
        </div>
    </ng-container>
</app-base>

